
body{
  width: 100%;
  margin: 0 auto;
}
div{
  font-weight: bold;
}
ul li{
  background-position: 0 5px;
  line-height: 2;
  padding: 0 0 4px 30px;
  margin-left: 1em;
}
.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
.list-item {
  float : left;
  padding : 1%;
  display: inline;

}
.issue-div{
  margin-top: 2%;
  margin-left: 2%;
}
